
body{
background-image: url("background-with-sky-clouds-shape_24972-1095.jpg");
background-repeat: no-repeat;
margin-right: 200px;
background-attachment: fixed;
background-position: center;
background-size: 100%;
}

